<link href="{{ STATIC_URL }}video-js/video-js.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}video-js/video.dev.js"></script>
<link href="{{ STATIC_URL }}video-js/resolutions/video-js-resolutions.css" rel="stylesheet">
<script src="{{ STATIC_URL }}video-js/resolutions/video-js-resolutions.js"></script>
<script>
    videojs.options.flash.swf = "{{ STATIC_URL }}video-js/video-js.swf"
</script>

<video id="video_main" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
    height="343px" width="100%"
    data-setup="{}">
    <source src="{% url 'media' file.slug %}/original_high.ogv" type="video/ogg" data-res="HD">
    <source src="{% url 'media' file.slug %}/original_high.mp4" type="video/mp4" data-res="HD">
    <source src="{% url 'media' file.slug %}/original_low.ogv" type="video/ogg" data-res="SD" data-default="true">
    <source src="{% url 'media' file.slug %}/original_low.mp4" type="video/mp4" data-res="SD" data-default="true">
</video>
<script type="text/javascript">
    vjs('video_main', {
        plugins: {
            resolutions: true
        }        
    });
</script>
