{% extends "base.html" %}
{% load permissions %}
{% block content %}
<h3>{{ file.name|truncatechars:75 }}</h3>
<div class="col-md-7">
    <hr />

    {% if file.type == FileType.VIDEO %}
        <video controls>
            {% for path, mime in file.video_urls %}
                <source src="{{ path }}" type="{{ mime }}">
            {% endfor %}
            Your browser failed to load the video.
        </video>
    {% endif %}

    {% if file.type == FileType.AUDIO %}
        {% if file.audio_urls %}
            <audio controls>
                {% for path, mime in file.audio_urls %}
                    <source src="{{ path }}" type="{{ mime }}">
                {% endfor %}
                Your browser failed to load the audio.
            </audio>
        {% else%}
            No audio urls were specified.
        {% endif %}
    {% endif %}
    <div class="well">
        <table class="table">
            <tr>
                <td>
                    <p><strong>Uploader:</strong> {{ file.uploaded_by }}</p>
                </td>
                <td><p><strong>Duration:</strong> {{ duration }}</p></td>
                <td>
                    {% if file.file and user.is_authenticated %}
                    <p><a class="btn btn-default" href="{% url 'files-download' file.pk %}" download="{{ file.file }}"><span class="glyphicon glyphicon-download-alt"></span> Download</a></p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Tags:</strong>
                    {% for file_tag in file_tags %}
                        {{ file_tag.tag }}, 
                    {% endfor %}</p>
                </td>
                <td>
                    <p><strong>Uploaded:</strong> {{ file.uploaded_on|date }}</p>
                </td>
                <td>
                    {% if file and user|can_edit_file:file %}
                        {% if file.status == FileStatus.READY %}
                        <a class="btn btn-default" href="{% url 'files-edit' file.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                        <br />
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-5">
    <hr />
    <div class="well">
        <p><strong>Description:</strong></p>
        <p>{{ file.description }}</p>
    </div>
    {% if user.is_authenticated %}
    <div>
        {% if used_in %}
            {% with used_in as classes %} 
            {% include "classes/_class.html" %}
            {% endwith %}
        {% else %}
            <div class="alert alert-default">This file is not used in any classes.</div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
