{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>Edit</h3>
    <a class="btn btn-default" href="{% url 'files-list' %}">Back</a>
    <div class="col-md-4">
        <form method="post">
        {% if form %}
            {{ form.as_p }}
        {% endif %}
        {% csrf_token %}
        <input type="submit" name="submit" value="Submit" class="btn btn-default" />
        <a class="btn btn-danger" href="{% url 'files-delete' file.pk %}">Delete</a>
        </form>
    </div>
</div>
{% endblock %}
