{% extends "base.html" %}
{% block head %}
{% load unfriendly_tags %}
{{ form.media }}
{% load permissions %}
{% endblock %}
{% block content %}
<div class="col-md-7">
    <h3>Edit: {{ file.name|truncatechars:75 }}</h3>
    <hr />

    {% if file.type == FileType.VIDEO %}
        {% include "files/_video.html" %}
    {% endif %}

    {% if file.type == FileType.AUDIO %}
        {% if file.audio_urls %}
            <audio controls>
                {% for path, mime in file.audio_urls %}
                    <source src="{{ path }}" type="{{ mime }}">
                {% endfor %}
                Your browser failed to load the audio.
            </audio>
        {% else%}
            No audio urls were specified.
        {% endif %}
    {% endif %}
    <div class="well">
        <table class="table">
            <tr>
                <td>
                    <p><strong>Uploader:</strong> {{ file.uploaded_by }}</p>
                </td>
                <td>
                    <p><strong>Uploaded:</strong> {{ file.uploaded_on|date }}</p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-5">
    <h3>
    {% url 'files-detail' file.pk as file_url %}
    <a class="btn btn-default pull-right" href="{{ file_url|obfuscate }}">Back</a>
    </h3>
    <br />
    <form method="post">
        {% if form %}
            {{ form|bootstrap }}
        {% endif %}
        {% csrf_token %}
        <div class="btn-group">
            <input type="submit" name="submit" value="Submit" class="btn btn-default" />
            <button class="btn btn-default" onclick="window.history.go(-1); return false">Cancel</button>    
        </div>
        {% if user|has_admin_access %}
            <a href="{% url 'files-delete' file.pk %}" class="btn btn-default pull-right btn-xs">Delete File</a>
        {% endif %}
    </form>
    <hr />
    <p><strong>Associated Files:</strong><a href="{% url 'files-upload-associated' file.pk %}" class="btn btn-default pull-right btn-xs"><span class="glyphicon glyphicon-upload"></span> Upload Associated File</a>
    <table>
        {% for file in associated_files %}<tr>{% include "files/_file.html" %}<a href="{% url 'files-delete-associated' file.pk %}"><span class="glyphicon glyphicon-remove pull-right" style="margin-top: -20px;"></span></a></tr>
        {% empty %}
            <div class="alert alert-default">There are no text files associated with this file.</div>
        {% endfor %}    
    </table>
</div>
{% endblock %}
