{% extends "base.html" %}
{% block head %}
{{ form.media }}
{% endblock %}
{% block content %}
<h2>Files <a href="{% url 'files-upload' %}" class="btn btn-default">Upload</a></h2>
<hr />

{% if failed %}
<div class="alert alert-danger">
    <p>The following files failed to upload</p>
    {% for fail in failed %}
        <li>{{ fail.name }} - <a href="{% url 'files-delete' fail.pk %}">Remove</a></li>
    {% endfor %}
</div>
{% endif %}

{% if uploaded %}
<div class="alert alert-info">
    <p>The following files are being uploaded</p>
    {% for upload in uploaded %}
        <li>{{ upload.name }} - <a class="strong" href="{% url 'files-edit' upload.pk %}">Edit Meta Data</a></li>
    {% endfor %}
</div>
{% endif %}

<form method='get' class='form-inline' id='search-form' action="{{ request.path }}">
    {% include "_field.html" with field=form.q %}
    {% include "_field.html" with field=form.tags %}
    <div class="btn-group btn-group-sm">
        <button type="submit" name="search" class="btn btn-default btn-sm">Search</button>
        <a href="{% url 'files-list' %}" class="btn btn-default btn-sm">Clear</a>
    </div>
</form>
<br />

<div class="file-list">
    <table class="table">
    {% for file in files %}
        <tr>{% include "files/_file.html" %}</tr>
    {% empty %}
        <div class="alert alert-warning">
            {% if form.in_search_mode %}
                No files match your search!
            {% else %}
                You have not uploaded any files!
            {% endif %}
        </div>
    {% endfor %}
    </table>
</div>
{% include '_pagination.html' with items=files %}
{% endblock %}
