{% extends "base.html" %}
{% block head %}
{{ form.media }}
{% load permissions %}
{% endblock %}
{% block content %}

{% if failed %}
<div class="alert alert-danger">
    <strong>The following files failed to upload</strong>
    {% for fail in failed %}
        <li>{{ fail.name }} - <a href="{% url 'files-delete' fail.slug %}">Remove</a></li>
    {% endfor %}
</div>
{% endif %}

{% if uploaded %}
<div class="alert alert-default">
    <strong>The following files are being processed</strong>
    {% for upload in uploaded %}
        <li>{{ upload.name }} - <a class="strong" href="{% url 'files-edit' upload.slug %}">Edit Meta Data</a></li>
    {% endfor %}
</div>
{% endif %}

<h2>Files {% if user|can_upload_file %}<a href="{% url 'files-upload' %}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-upload"></span> Upload</a>{% endif %}</h2>
<form method='get' class='form-inline' id='search-form' action="{{ request.path }}">
    {% include "_field.html" with field=form.q %}
    {% include "_field.html" with field=form.tags %}
    <div class="btn-group btn-group-sm">
        <button type="submit" name="search" class="btn btn-default btn-sm">Search</button>
        <a href="{% url 'files-list' %}" class="btn btn-default btn-sm">Clear</a>
    </div>
    <a href="#" class='expander'>Advanced</a>
        <div class="tab-content" style="display:none">
            <div class="tab-pane active">
                <div class="input-group date">
                    {% include '_field.html' with field=form.start_date %} 
                    {% include "_field.html" with field=form.end_date %}
                    {% include "_field.html" with field=form.order %}
                </div>
            </div>
        </div>
</form>
<br />

<div class="file-list">
    <table class="table">
    {% for file in files %}
        <tr>{% include "files/_file.html" %}</tr>
    {% empty %}
        <div class="alert alert-default">
            {% if form.in_search_mode %}
                No files match your search!
            {% else %}
                You have not uploaded any files!
            {% endif %}
        </div>
    {% endfor %}
    </table>
</div>
{% include '_pagination.html' with items=files %}
<script>
    $(document).ready(function(){
        $(".expander").click(function(e){
            e.preventDefault()
            var closed = $(".tab-content").is(":hidden");
            if(closed == true)
                $(this).parent().find(".tab-content").show();
            else
                $(this).parent().find(".tab-content").hide();

                $.cookie('open',closed,{ path: '/'});
        });

        var openToggle = $.cookie('open');
        if( openToggle == 'true' ){
            $('.expander').parent().find(".tab-content").show();
        }    
        else{
            $('.expander').parent().find(".tab-content").hide();
        }
    });
</script>
{% endblock %}
