{% extends "base.html" %}

{% block content %}
<script src="{{ STATIC_URL }}js/resumable.js"></script>
<script>var CHUNK_SIZE = {{ chunk_size }};</script>
<script src="{{ STATIC_URL }}js/upload.js"></script>

{% if failed %}
<div class="alert alert-danger">
    <strong>The following files failed to upload</strong>
    {% for fail in failed %}
        <li>{{ fail.name }} - <a href="{% url 'files-delete' fail.pk %}">Remove</a></li>
    {% endfor %}
</div>
{% endif %}

{% if uploaded %}
<div class="alert alert-default">
    <strong>The following files are being processed</strong>
    {% for upload in uploaded %}
        <li>{{ upload.name }} - <a class="strong" href="{% url 'files-edit' upload.pk %}">Edit Meta Data</a></li>
    {% endfor %}
</div>
{% endif %}

<button class="btn btn-default pull-right" onclick="window.history.go(-1); return false">Back</button>
<h3>Upload</h3>
<input type="file" name="file" id="file" style="display:none" />

<div id="dropbox" class="alert alert-default">
    <div class="text-center"><strong>Click here to choose a file <em>or</em> drag a file into this area</strong></div>
</div>

<label class="checkbox"><input type="checkbox" id="agree" />I have obtained all necessary consents and permissions to share this content through MLP</label>

<button id="submit" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span> Upload</button>

<div class="progress" style="display:none">
    <div class="progress-bar" role="progressbar" style="width: 0%;" id="progress-bar"></div>
</div>

<form method="post" id="form">
    {% csrf_token %}
    <input id="error-message" type="hidden" name="error_message" />
</form>
<hr />
<h3>My Files</h3>
{% if my_files %}
    {% for file in my_files %}
        {% include 'files/_file.html' %}
    {% endfor %}
{% else %}    
    <div class="alert alert-default">You have not uploaded any files</div>
{% endif %}
{% endblock %}
