{% extends "base.html" %}
{% load permissions %}
{% load arc %}
{% block content %}
<h3>Admin Control</h3>
<hr />
<div class="col-md-6">
    <h4>Users</h4>
    <table class="table table-striped">
        <tr>
            <td><strong>Email</strong></td>
            <td><strong>First</strong></td>
            <td><strong>Last</strong></td>
            <td><strong>Date Joined</strong></td>
            <td></td>
        </tr>
    {% if users %}
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.date_joined|date }}</td>
                <td>
                    <form method="post" action="{% url 'cloak' user.pk %}" style="display:inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" name="submit">Cloak</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
</div>

<div class="col-md-5">
    <h4>Files</h4>
    <div class="file-list">
    {% if files %}
        <table class="table table-striped">
        {% for file in files %}
        <tr>
	    	<td>{% include "files/_file.html" %}</td>
            <td><a href="{% url 'files-delete' file.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></td>
	    </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            You have not uploaded any files!
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
