{% extends "base.html" %}

{% block content %}
<h3>User: {{ user.first_name }} {{ user.last_name }}</h3>
<button class="btn btn-default pull-right" onclick="window.history.go(-1); return false" style="margin-top: -40px;">Back</button>
<hr />
<div class="col-md-5">
    <h4>Info</h4>
    <p>Email: {{ user.email }}</p>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Admin: {{ user.is_staff }}</p>
    <p>Active: {{ user.is_active }}</p>
</div>
<div class="col-md-6">
    <h4>Groups</h4>
    {% include "groups/group.html" %}
</div>
{% endblock %}
