{% extends "base.html" %}
{% load permissions %}
{% load unfriendly_tags %}
{% block content %}
<h3>User List</h3>
<a href="{% url 'users-create' %}" class="btn btn-default pull-right" style="margin-top: -40px;"><span class="glyphicon glyphicon-plus"></span> User</a>
<hr />
<form method='get' class='form-inline' id='search-form' action="{{ request.path }}">
    {% include "_field.html" with field=form.q %}
    <div class="btn-group btn-group-sm">
        <button type="submit" name="search" class="btn btn-default btn-sm">Search</button>
        <a href="{% url 'users-list' %}" class="btn btn-default btn-sm">Clear</a>
    </div>
</form>
<br />
<table class="table">
<tr>
    <td>View</td>
    <td>ID</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Date Joined</td>
    <td>Staff</td>
    <td>Active</td>
    {% if perms.can_edit_user %}
        <td>Edit</td>
    {% endif %}
    {% if perms.has_admin_access %}
        <td>Cloak</td>
    {% endif %}
</tr>
{% for user in users %}
<tr>
    <td>
        {% url 'users-detail' user.pk as user_url %}
        <a href="{{ user_url|obfuscate }}" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in"></span></a>
    </td>
    <td>{{ user.user_id }}</td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.date_joined|date }}</td>
    <td>{{ user.is_staff }}</td>
    <td>{{ user.is_active }}</td>
    {% if perms.can_edit_user %}
    <td>
        <div class="btn-group">
            <a href="{% url 'users-edit' user.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'users-delete' user.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </td>
    {% endif %}
    {% if perms.has_admin_access %}
        <td>
            <form method="post" action="{% url 'cloak' user.pk %}" style="display:inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-default" name="submit">Cloak</button>
            </form>
        </td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
