{% extends "base.html" %}

{% block content %}
<div id="user-info">
    <h2>Welcome, {{ user.first_name }}!</h2>
    <hr />
    <div class="col-md-5">
        <h3>Your User Profile</h3>
        <a href="{% url 'users-edit' user.pk %}" class="btn btn-default pull-right" style="margin-top: -40px;">
            <span class="glyphicon glyphicon-user"></span> Edit Account
        </a>
        <hr />
        <table class="table">
            <tr>
                <td>
                    <p><strong>Name:</strong> {{ user.last_name }}, {{ user.first_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    {% if user.is_staff %}<p><strong>Staff:</strong> True</p>{% endif %}
                </td>
                <td>
                    <p><strong>Last Login:</strong> {{ user.last_login|date }}</p>
                    <p><strong>Date Joined:</strong> {{ user.date_joined|date }}</p> 
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Uploaded</strong> {{ num_files }} <strong>files.</strong></p>
                    <p><strong>Enrolled in</strong> {{ num_classes }} <strong>classes.</strong></p>
                </td>
            </tr>
        </table>
        <br />
        <h3>Your Files</h3>
        <hr />
        <div class="file-list">
            <table class="table">
            {% for file in files %}
                <tr>{% include "files/_file.html" %}</tr>
            {% empty %}
                <div class="alert alert-default">
                    You have not uploaded any files!
                </div>
            {% endfor %}
            </table>
            {% include '_pagination.html' with items=files %}
        </div>
    </div>
    <div class="col-md-6" id="classes">
        <h3>Your Classes</h3>
        <hr />
        {% if classes %}
            {% include "classes/_class.html" %}
        {% else %}
            <div class="alert alert-default">You are not enrolled in any classes.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
