{% extends "base.html" %}

{% block content %}
<div id="user-info">
    <h2>Welcome, {{ user.first_name }}!</h2>
    <hr />
    <div class="col-md-5">
        <h3>My Info</h3>
        <a href="{% url 'users-edit' user.pk %}" class="btn btn-default pull-right" style="margin-top: -40px;">
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
        <hr />
        <table class="table">
            <tr>
                <td>
                    <img src="http://www.fashionally.com/images/default_profile_pic.jpg" height="180" width="180" alt="Default profile picture placeholder"/> 
                </td>
                <td>
                    <p><strong>{{ user.last_name }}, {{ user.first_name }}</strong></p>
                    <p>Email: {{ user.email }}</p>
                    {% if user.is_staff %}<p>Staff: True</p>{% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Date Joined:</strong> {{ user.date_joined|date }}</p> 
                    <p><strong>Last Login:</strong> {{ user.last_login|date }}</p>
                </td>
            </tr>
        </table>
        <br />
        <h3>My Files</h3>
        <hr />
        {% for file in files %}
            {% include "files/_file.html" %}
        {% empty %}
            <div class="alert alert-info">You have not uploaded any files yet.</div>
        {% endfor %}
    </div>
    <div class="col-md-6" id="classes">
        <h3>My Classes</h3>
        <hr />
            {% if classes %}
                {% include "classes/_class.html" %}
            {% else %}
                <div class="alert alert-info">You are not enrolled in any classes.</div>
            {% endif %}
    </div>
</div>
{% endblock %}
