{% load unfriendly_tags %}
<table class="table">
    <tr>
        <td><strong>Class ID</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>CRN</strong></td>
        <td><strong>Description</strong></td>
        <td></td>
    </tr>
    {% for class in classes %}
        <tr>
            <td>{{ class.class_id }}</td>
            <td>{{ class.name }}</td>
            <td>{{ class.crn }}</td>
            <td>{{ class.description|truncatechars:75 }}</td>
            <td>
                {% url 'classes-detail' class.pk as class_url %}
                <a href="{{ class_url|obfuscate }}" class="btn btn-default">View</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% include '_pagination.html' with items=classes %}
