{% extends "base.html" %}
{% load permissions %}
{% block content %}
<h3>Add a File</h3>
<button class="btn btn-default pull-right" onclick="window.history.go(-1); return false" style="margin-top: -40px;">Back</button>
<form method='get' class='form-inline' id='search-form' action="{{ request.path }}">
    {% include "_field.html" with field=form.q %}
    {% include "_field.html" with field=form.tags %}
    <div class="btn-group btn-group-sm">
        <button type="submit" name="search" class="btn btn-default btn-sm">Search</button>
        <a href="{% url 'files-list' %}" class="btn btn-default btn-sm">Clear</a>
    </div>
</form>

<div class="col-md-6">
    <h3>Files</h3>
    <hr />
    {% if files %}
        <table class="table table-striped">
        {% for file in files %}
        <tr>
            <td>
                <a href="{% url 'classes-file_add' class.pk file.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-plus" /></a>
            </td>
            <td>{% include "files/_file.html" %}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info">No files have been uploaded yet.</div>
    {% endif %}
</div>
<div class="col-md-6">
    <h3>Class Files</h3> 
    <hr />
    {% if class_files %}
        <table class="table table-striped">
        {% for file in class_files %}
        <tr>
            <td>
                {% if user|can_edit_file:file %}
                    <a href="{% url 'classes-file_remove' class.pk file.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-minus" /></a>
                {% endif %}        
            </td>
            <td>{% include "files/_file.html" %}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info">No files have been added to this class yet.</div>
    {% endif %}
</div>
{% endblock %}
