{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>{{ class.name }}</h3>
    <hr />
    <div class="col-md-6">
        <form method="post">
            <h4>Students</h4>
            <table class="table table-striped">
                {% for student in students %}
                <tr>
                    {% csrf_token %}
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.email }}</td> 
                    <td><a class="btn btn-default btn-small pull-right" href="{% url 'roster-add' class.pk student.pk %}">Enroll</a></td>
                    {% endfor %}
                </tr>
            </table>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Enrolled</h4>
        <table class="table table-striped">
        {% for ros in roster %}
            <tr>
                <td>{{ ros.user }}</td>
                <td>{{ ros.user.last_name }}</td>
                <td>{{ ros.user.first_name }}</td>
                <td><a class="btn btn-default btn-small pull-right" href="{% url 'roster-remove' class.pk ros.user.user_id %}">Drop</a></td>
            </tr>
        {% empty %}
            <div class="alert alert-warning">
                No one is enrolled in this class.
            </div>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
