{% extends "base.html" %}
{% load permissions %}
{% block content %}
<div class="col-md-6">
    <h3>All Classes</h3>
    {% if user|can_create_class %}
    <a href="{% url 'classes-create' %}" class="btn btn-default pull-right" style="margin-top: -40px;">
        <span class="glyphicon glyphicon-plus"></span> Class
    </a>
    {% endif %}
    <hr />
    <form method='get' class='form-inline' id='search-form' action="{{ request.path }}">
        {% include "_field.html" with field=form.q %}
        <div class="btn-group btn-group-sm">
            <button type="submit" name="search" class="btn btn-default btn-sm">Search</button>
            <a href="{% url 'classes-list' %}" class="btn btn-default btn-sm">Clear</a>
        </div>
    </form>
    {% if classes %}
        {% include "classes/_class.html" %}
    {% else %}
        <div class="alert alert-info">No classes have been created yet.</div>
    {% endif %}
</div>
<div class="col-md-6">
    <h3>Your Classes</h3>
    <hr />
    {% if user_classes %}
        {% with user_classes as classes %} 
        {% include "classes/_class.html" %}
        {% endwith %}
    {% else %}
        <div class="alert alert-info">No classes have been created yet.</div>
    {% endif %}

</div>
{% endblock %}
