{% extends "base.html" %}

{% block content %}
<div class="containter">
    {% if user.is_staff %}<a href="{% url 'classes-create' %}" class="btn btn-default pull-right">Add Class</a>{% endif %}
    <h3>Classes</h3>
    {% if classes %}
        <table class="table tbale-striped">
            <tr>
                <td><strong />Class ID</td>
                <td><strong />Name</td>
                <td><strong />CRN</td>
                <td><strong />Description</td>
                <td></td>
            </tr>
            {% for class in classes %}
                <tr>
                    <td>{{ class.class_id }}</td>
                    <td>{{ class.name }}</td>
                    <td>{{ class.crn }}</td>
                    <td>{{ class.description|truncatewords:10 }}</td>
                    <td><a href="{% url 'classes-detail' class.pk %}" class="btn btn-default">View</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
