{% extends "base.html" %}
{% load permissions %}
{% block content %}
<h3>Delete {{ group.name }}</h3>

<div class="alert alert-danger">
    <h4>Are you sure you want to delete this group?</h4>
    <p>There is no going back!</p>
    <hr />
    <p>Related objects that will be deleted:</p>
    <ul>
        {% for item in related_objects %}
        <li><strong>{{ item }}</strong> object{{ item|length|pluralize}}</li>
        {% endfor %}
    </ul> 

    <form method="post">
        {% csrf_token %}
        <button class="btn btn-default" onclick="window.history.go(-1); return false">Cancel</button>
        <button type="submit" name="finish" class="pull-right btn btn-danger" onclick="return confirm('Click OK if you are sure')">Permanently Delete Group</button>
    </form>
</div>

{% endblock %}
