<table class="table">
    <tr>
        <td><strong>Group ID</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>CRN</strong></td>
        <td><strong>Description</strong></td>
        <td></td>
    </tr>
    {% for group in groups %}
        <tr>
            <td>{{ group.group_id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.crn }}</td>
            <td>{{ group.description|truncatechars:75 }}</td>
            <td>
                
                <a href="{% url 'groups-detail' group.slug %}" class="btn btn-default">View</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% include '_pagination.html' with items=groups %}
