{% extends "base.html" %}
{% load permissions %}
{% block content %}
<h3>New Teacher: {{ user }}</h3>

<div class="alert alert-danger">
    <h4>Are you sure you want to make {{ user.first_name }} {{ user.last_name }} the teacher of this group?</h4>
    <hr />

    <form method="post">
        {% csrf_token %}
        <button class="btn btn-default" onclick="window.history.go(-1); return false">Cancel</button>
        <button type="submit" name="finish" class="pull-right btn btn-danger" onclick="return confirm('Click OK if you are sure')">{{ user }} is now teaching this group</button>
    </form>
</div>

{% endblock %}
