{% extends "base.html" %}
{% load arc %}
{% block content %}
<div class="col-md-4">
    <h3>Login</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        <a class="btn btn-default" href="#">New User</a>
    </form>
</div>
<div class="col-md-8">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Welcome to the Mobile Learning Project!</h3></div>
        <div class="panel-body">
            <p>
                The mobile learning project is about blah blah 
                blah intro text that is going to change eventually.
                I really ought to put some stuff in (parenthesis) 
                just to make it look like there's some actual stuff
                going on here. I could have just gone and got a bunch
                of filler text somewhere online but nooooo that would 
                have just been too easy.
            </p>
            <p>
                Sneak attack! Paragraph break! There's definitely a
                lot of cool stuff happening with this text box. 
                Just you wait and see.
            </p>
        </div>
    </div>
</div>
{% endblock %}
