{% extends "base.html" %}
{% load arc %}
{% block content %}
<div class="col-md-4">
    <h3>Login</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        <a class="btn btn-default" href="{% url 'users-create' %}">New User</a>
        <br />
        <a href="{% url 'password_reset' %}">I forgot my password</a>
    </form>
</div>
<div class="col-md-8">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Welcome to the Mobile Learning Project!</h3></div>
        <div class="panel-body">
            <p>{{ intro_text|linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}
